.float_left {
  float: left;
  margin: 0 50px 30px 0; }

.float_right {
  float: right;
  margin: 0 0 30px 50px; }

h1 {
  font-size: 46px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px; }

h2 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 50px; }

.orange_button {
  background: #ffc04d;
  background: -moz-linear-gradient(top, #ffc04d 0%, #ffc04d 50%, #ffb040 50%, #ffa033 75%, #ffa033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc04d), color-stop(50%, #ffc04d), color-stop(50%, #ffb040), color-stop(75%, #ffa033), color-stop(100%, #ffa033));
  background: -webkit-linear-gradient(top, #ffc04d 0%, #ffc04d 50%, #ffb040 50%, #ffa033 75%, #ffa033 100%);
  background: -o-linear-gradient(top, #ffc04d 0%, #ffc04d 50%, #ffb040 50%, #ffa033 75%, #ffa033 100%);
  background: -ms-linear-gradient(top, #ffc04d 0%, #ffc04d 50%, #ffb040 50%, #ffa033 75%, #ffa033 100%);
  background: linear-gradient(to bottom, #ffc04d 0%, #ffc04d 50%, #ffb040 50%, #ffa033 75%, #ffa033 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorStart', endColorstr='$colorEnd',GradientType=0 );
  border-bottom: 1px solid #ff751c;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #f96e29;
  padding: 10px 16px; }
  .orange_button.select {
    color: black; }
  .orange_button:hover {
    background: #41c9fb;
    background: -moz-linear-gradient(top, #41c9fb 0%, #41c9fb 50%, #36b1f4 50%, #2e9ae9 75%, #2e9ae9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #41c9fb), color-stop(50%, #41c9fb), color-stop(50%, #36b1f4), color-stop(75%, #2e9ae9), color-stop(100%, #2e9ae9));
    background: -webkit-linear-gradient(top, #41c9fb 0%, #41c9fb 50%, #36b1f4 50%, #2e9ae9 75%, #2e9ae9 100%);
    background: -o-linear-gradient(top, #41c9fb 0%, #41c9fb 50%, #36b1f4 50%, #2e9ae9 75%, #2e9ae9 100%);
    background: -ms-linear-gradient(top, #41c9fb 0%, #41c9fb 50%, #36b1f4 50%, #2e9ae9 75%, #2e9ae9 100%);
    background: linear-gradient(to bottom, #41c9fb 0%, #41c9fb 50%, #36b1f4 50%, #2e9ae9 75%, #2e9ae9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colorStart', endColorstr='$colorEnd',GradientType=0 );
    border-bottom: 1px solid #227be3;
    text-shadow: 0 -1px 1px #1767de; }

.paragraph {
  overflow: hidden;
  margin-bottom: 50px; }
  .paragraph p.title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1; }
  .paragraph p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 30px; }
  .paragraph.about h2 {
    text-align: center;
    position: relative;
    margin-top: 70px; }
    .paragraph.about h2:before {
      content: "";
      display: inline-block;
      width: 48px;
      height: 48px;
      background: url("/assets/img/title_sprites.png") no-repeat;
      position: absolute;
      top: -70px;
      left: 50%;
      margin-left: -24px; }
  .paragraph.about.teams h2:before {
    background-position: 0 -102px; }
  .paragraph.about.map h2:before {
    background-position: 0 -51px; }
  .paragraph .viewcam {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 50px 30px 0; }
    .paragraph .viewcam:after {
      display: block;
      position: absolute;
      z-index: 10;
      content: "";
      width: 114px;
      height: 134px;
      bottom: 0;
      right: 50px;
      background: url("/assets/img/webcam.png") no-repeat; }
    .paragraph .viewcam span[class|='courner'] {
      background-image: url("/assets/img/round_corners.png");
      background-repeat: no-repeat;
      width: 33px;
      height: 38px;
      display: block;
      position: absolute; }
    .paragraph .viewcam .courner-lt {
      top: 16px;
      left: 16px;
      background-position: 0 0; }
    .paragraph .viewcam .courner-lb {
      bottom: 16px;
      left: 16px;
      background-position: 0 -34px; }
    .paragraph .viewcam .courner-rt {
      top: 16px;
      right: 16px;
      background-position: -33px 0; }
    .paragraph .viewcam .courner-rb {
      bottom: 16px;
      right: 16px;
      background-position: -33px -34px; }
    .paragraph .viewcam .orange_button {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      margin-top: -19px;
      margin-left: -72px; }

/* teams */
.teams .team {
  display: inline-block;
  vertical-align: top;
  width: 234px;
  margin-right: 12px; }
  .teams .team:last-child {
    margin-right: 0; }
  .teams .team p.name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 27px;
    line-height: 1.3; }
  .teams .team p.position {
    color: #7c7c7c;
    text-align: center;
    font-style: italic;
    padding: 0 20px 0; }

#map {
  width: 100%;
  height: 470px; }

.map {
  margin-bottom: 100px;
  text-align: center; }
  .map p.address {
    font-size: 22px;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 24px;
    text-transform: uppercase; }
  .map p.phones {
    font-size: 16px;
    text-align: center;
    line-height: 1.3; }
  .map h2 {
    display: inline-block;
    width: 450px; }

.partners {
  text-align: center;
  margin-bottom: 70px; }
  .partners h3.header {
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px; }
  .partners a.partner {
    display: inline-block;
    margin: 10px 15px;
    width: 105px;
    height: 90px;
    margin-top: 10px;
    background: url("/assets/img/tmp/partners.png") no-repeat;
    background-position: -23px -6px; }
    .partners a.partner.nissan {
      background-position: -273px 0; }

.site_map.four div[class|=col] {
  width: 210px !important; }

.recommended {
  text-align: center;
  margin-top: 95px;
  margin-bottom: 56px; }
  .recommended .brace {
    display: inline-block;
    vertical-align: top;
    margin-right: 37px;
    padding-top: 45px; }
    .recommended .brace p.header {
      display: inline-block;
      font-size: 22px;
      text-transform: uppercase;
      vertical-align: middle;
      margin-right: 15px; }
    .recommended .brace img {
      display: inline-block;
      vertical-align: middle; }
  .recommended .block {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 228px;
    height: 228px;
    background: url("/assets/img/act.png") no-repeat;
    background-position: 0px 0px; }
    .recommended .block.second {
      background-position: -228px; }
    .recommended .block.third {
      background-position: -456px; }
    .recommended .block .block_head {
      display: block;
      font-size: 20px;
      margin-top: 50px;
      margin-bottom: 20px;
      padding: 0 34px 0;
      color: #3d9ae0;
      width: 167px;
      height: 225px; }
    .recommended .block .block_text {
      position: relative;
      top: -190px; }

#test-drive-box {
  display: none;
  width: 940px;
  margin: 15px 0px 45px 55px; }
  #test-drive-box #drive-header {
    font-size: 38px; }
  #test-drive-box .drive-col {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin-bottom: 26px; }
    #test-drive-box .drive-col img#lock {
      display: inline-block;
      margin-bottom: 20px; }
    #test-drive-box .drive-col p.comment {
      text-align: left;
      margin: 20px 0 20px 14px;
      font-size: 16px; }
  #test-drive-box .right {
    margin-left: 40px; }

.form .row {
  position: relative; }
.form input[type=text],
.form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, white 0%, #e8e8e8 100%);
  background: linear-gradient(to bottom, white 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
  border: none;
  border-radius: 12px;
  padding: 12px 10px;
  margin-bottom: 10px;
  outline: none;
  width: 300px; }
.form label {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  position: relative;
  top: 12px; }
.form select {
  display: inline-block; }
.form .arrow {
  display: inline-block;
  text-align: left;
  position: absolute;
  right: 0;
  bottom: -26px;
  width: 255px;
  color: #bababa;
  background: url(/assets/img/arrow-up.png) no-repeat;
  padding-left: 52px; }
.form .write {
  display: inline-block;
  vertical-align: middle; }
  .form .write img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px; }
  .form .write p {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    font-size: 13px;
    margin-right: 14px;
    font-family: "Open Sans", sans-serif;
    font-style: italic; }
  .form .write a.green_button {
    width: 300px; }
.form .button-row {
  margin-top: 38px; }
.form .secured {
  display: inline-block;
  vertical-align: middle;
  background: url(/assets/img/lock.png) no-repeat;
  height: 34px;
  padding-left: 40px;
  margin-left: 40px; }
  .form .secured .texts {
    display: inline-block;
    vertical-align: middle; }
    .form .secured .texts #text1 {
      font-size: 16px; }
    .form .secured .texts #text2 {
      font-size: 12px; }
.form #drive-header {
  font-size: 38px;
  margin-bottom: 45px; }

#feedback-box {
  display: none;
  width: 940px; }
  #feedback-box .feedback-col {
    display: inline-block;
    vertical-align: top; }
    #feedback-box .feedback-col.left {
      margin: 45px 0px 30px 40px; }
    #feedback-box .feedback-col.right {
      margin: 45px 40px 30px 25px;
      width: 326px; }
      #feedback-box .feedback-col.right .code .captcha {
        display: inline-block;
        vertical-align: top;
        width: 145;
        height: 85;
        margin-right: 20px; }
      #feedback-box .feedback-col.right .code .verify {
        display: inline-block;
        vertical-align: top;
        width: 150px; }
        #feedback-box .feedback-col.right .code .verify label {
          top: 0;
          margin-bottom: 10px; }
        #feedback-box .feedback-col.right .code .verify input {
          width: 145px; }
      #feedback-box .feedback-col.right .code #capt_text {
        font-size: 12px; }
      #feedback-box .feedback-col.right .send {
        width: 315px;
        margin-top: 16px;
        font-weight: 800; }
      #feedback-box .feedback-col.right code {
        margin-bottom: 12px; }
        #feedback-box .feedback-col.right code label {
          top: 0; }
    #feedback-box .feedback-col .feed_comment {
      display: inline-block;
      vertical-align: middle; }
    #feedback-box .feedback-col #timer {
      background: url(/assets/img/timer.png) no-repeat;
      height: 44px;
      padding: 6px 50px;
      width: 170px;
      font-style: italic;
      font-family: "Open Sans", sans-serif;
      line-height: 1.3;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 22px; }

.blue_text {
  color: #0cc5fd;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 20px; }

#insurance-box {
  display: none;
  width: 937px;
  background: url(/assets/img/insurance.jpg) no-repeat;
  height: auto;
  border-radius: 5px 5px 0 0; }
  #insurance-box h3 {
    position: absolute;
    top: 75px;
    left: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 38px; }
  #insurance-box #ins-content {
    margin: 0 50px 50px 50px;
    padding-top: 500px; }
    #insurance-box #ins-content ul {
      list-style: disc;
      margin: 30px;
      line-height: 2;
      font-weight: bold;
      font-size: 16px; }
    #insurance-box #ins-content #ins-after {
      color: #b3b3b3;
      font-style: italic;
      margin: 7px; }
    #insurance-box #ins-content .ins-buttons {
      text-align: center;
      padding-top: 30px; }
      #insurance-box #ins-content .ins-buttons .ins-release {
        display: inline-block;
        vertical-align: middle;
        width: 300px; }
      #insurance-box #ins-content .ins-buttons .ins-close {
        display: inline-block;
        vertical-align: middle;
        width: 110px;
        background: #e9e9e9;
        text-decoration: none;
        color: #f3f3f3;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2;
        border-radius: 5px;
        margin-left: 40px; }
      #insurance-box #ins-content .ins-buttons .ins-close:hover {
        background: black;
        color: white; }
      #insurance-box #ins-content .ins-buttons img {
        margin-right: -70px; }

.ford_first {
  margin-bottom: 60px; }
  .ford_first .first-image {
    display: inline-block;
    vertical-align: middle; }
  .ford_first .first-content {
    display: inline-block;
    vertical-align: middle;
    width: 450px; }
    .ford_first .first-content .first-header {
      font-size: 46px; }
    .ford_first .first-content .first-title {
      font-size: 38px;
      background: #ffab12;
      line-height: 55px;
      margin: 30px 0;
      text-transform: uppercase; }
    .ford_first .first-content .first-description {
      font-size: 22px;
      line-height: 1.3;
      width: 255px; }
    .ford_first .first-content .first-link {
      display: block;
      font-size: 22px;
      margin-top: 35px;
      color: #3d9ae0; }

.others {
  margin-bottom: 60px; }
  .others .others-header {
    font-size: 38px;
    text-transform: uppercase; }
  .others .others-item {
    margin-top: 60px; }
    .others .others-item .others-image {
      display: inline-block;
      vertical-align: middle;
      width: 375px;
      height: 210; }
    .others .others-item .others-content {
      display: inline-block;
      vertical-align: middle;
      margin-left: 35px;
      width: 550px; }
      .others .others-item .others-content .others-link {
        font-size: 24px;
        color: #3d9ae0;
        font-weight: bold; }
      .others .others-item .others-content .others-text {
        margin: 27px 0;
        line-height: 1.5; }
      .others .others-item .others-content .see {
        width: 300px; }

.tradein h3#header {
  font-size: 46px;
  margin-bottom: 60px; }
.tradein p {
  margin-bottom: 20px; }
.tradein div#for-owners {
  margin: 100px 0 50px;
  text-align: center;
  background: url(/assets/img/ford.png) no-repeat;
  background-position: 825px 17px;
  font-size: 38px;
  text-transform: uppercase; }
  .tradein div#for-owners h3#l {
    font-weight: 400; }
  .tradein div#for-owners h3#b {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0px;
    padding: 0px; }
.tradein #trade {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px; }
.tradein .oldtonew {
  background: url(/assets/img/oldtonew.png) no-repeat;
  background-position: 0px 25px; }
  .tradein .oldtonew #old-car {
    position: absolute;
    top: 760px;
    left: 470px; }
  .tradein .oldtonew #new-car {
    position: absolute;
    top: 0px;
    left: 0px; }
  .tradein .oldtonew #oldtonew_desc {
    margin-left: 400px;
    font-size: 14px; }
    .tradein .oldtonew #oldtonew_desc .desc {
      margin-bottom: 30px;
      line-height: 1.6; }
    .tradein .oldtonew #oldtonew_desc .items {
      display: inline-block;
      vertical-align: middle;
      width: 250px;
      background: url(/assets/img/old_to_new.png) no-repeat;
      height: 55px;
      padding: 5px 0px 0px 45px;
      line-height: 1;
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
    .tradein .oldtonew #oldtonew_desc .item1 {
      background-position: 0px 1px; }
    .tradein .oldtonew #oldtonew_desc .item2 {
      background-position: 0px -56px; }
    .tradein .oldtonew #oldtonew_desc .item3 {
      background-position: 0px -116px; }
    .tradein .oldtonew #oldtonew_desc .item4 {
      background-position: 0px -179px; }
    .tradein .oldtonew #oldtonew_desc a {
      margin-top: 25px;
      color: #3d9ae0;
      font-weight: bold; }
