@mixin gradient_by_button($colorStart, $colorCenter, $colorEnd)
	background: $colorStart /* Old browsers */
	background: -moz-linear-gradient(top,  $colorStart 0%, $colorStart 50%, $colorCenter 50%, $colorEnd 75%, $colorEnd 100%) // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$colorStart), color-stop(50%,$colorStart), color-stop(50%,$colorCenter), color-stop(75%,$colorEnd), color-stop(100%,$colorEnd)) // Chrome,Safari4+ 
	background: -webkit-linear-gradient(top,  $colorStart 0%,$colorStart 50%,$colorCenter 50%,$colorEnd 75%,$colorEnd 100%) // Chrome10+,Safari5.1+ 
	background: -o-linear-gradient(top,  $colorStart 0%,$colorStart 50%,$colorCenter 50%,$colorEnd 75%,$colorEnd 100%) // Opera 11.10+ 
	background: -ms-linear-gradient(top,  $colorStart 0%,$colorStart 50%,$colorCenter 50%,$colorEnd 75%,$colorEnd 100%) // IE10+ 
	background: linear-gradient(to bottom,  $colorStart 0%,$colorStart 50%,$colorCenter 50%,$colorEnd 75%,$colorEnd 100%) // W3C 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorStart', endColorstr='$colorEnd',GradientType=0 ) // IE6-9 

@mixin float_left
	float: left
	margin: 0 50px 30px 0
@mixin float_right
	float: right
	margin: 0 0 30px 50px
.float_left
	@include float_left
.float_right
	@include float_right

$gray: #7c7c7c


h1
	font:
		size: 46px
		weight: 300
	line-height: 1
	margin-bottom: 60px
h2
	font:
		size: 38px
		weight: 300
	line-height: 1
	margin-bottom: 50px

.orange_button
	@include gradient_by_button(#ffc04d, #ffb040, #ffa033)
	border:
		bottom: 1px solid #ff751c
		radius: 6px
	color: #fff
	font:
		size: 16px
		weight: bold
	text:
		transform: uppercase
		align: center
		decoration: none
		shadow: 0 -1px 1px #f96e29
	padding: 10px 16px
	&.select
		color: #000
	&:hover
		@include gradient_by_button(#41c9fb, #36b1f4, #2e9ae9)
		border-bottom: 1px solid #227be3
		text-shadow: 0 -1px 1px #1767de

.paragraph
	overflow: hidden
	margin-bottom: 50px
	p.title
		font:
			size: 32px
			weight: 300
		line-height: 1
	p
		font:
			size: 14px
		line-height: 1.4
		margin: 0 0 30px
	&.about h2
		text-align: center
		position: relative
		margin-top: 70px
		&:before
			content: ""
			display: inline-block
			width: 48px
			height: 48px
			background: url("/assets/img/title_sprites.png") no-repeat
			position: absolute
			top: -70px
			left: 50%
			margin-left: -24px
	&.about.teams h2:before
		background-position: 0 -102px
	&.about.map h2:before
		background-position: 0 -51px
	.viewcam
		position: relative
		display: inline-block
		@include float_left
		&:after
			display: block
			position: absolute
			z-index: 10
			content: ""
			width: 114px
			height: 134px
			bottom: 0
			right: 50px
			background: url("/assets/img/webcam.png") no-repeat
		span[class|='courner']
			background:
				image: url("/assets/img/round_corners.png")
				repeat: no-repeat
			width: 33px
			height: 38px
			display: block
			position: absolute
		.courner-lt
			top: 16px
			left: 16px
			background-position: 0 0
		.courner-lb
			bottom: 16px
			left: 16px
			background-position: 0 -34px
		.courner-rt
			top: 16px
			right: 16px
			background-position: -33px 0
		.courner-rb
			bottom: 16px
			right: 16px
			background-position: -33px -34px
		.orange_button
			position: absolute
			top: 50%
			left: 50%
			z-index: 20
			margin:
				top: -19px
				left: -72px
/* teams */
.teams
	.team
		display: inline-block
		vertical-align: top
		width: 234px
		margin-right: 15px
		&:last-child
			margin-right: 0
		p.name
			font:
				size: 18px
				weight: bold
			text-align: center
			margin-top: 27px
			line-height: 1.3
		p.position
			color: $gray
			text-align: center
			font-style: italic
			padding: 0 20px 0

#map
	width: 100%
	height: 470px
.map
	margin-bottom: 100px
	p.address
		font:
			size: 22px
		text-align: center
		margin-top: 52px
		margin-bottom: 24px
		text-transform: uppercase
	p.phones
		font-size: 16px
		text-align: center
		line-height: 1.3

.partners
	text-align: center
	margin-bottom: 70px
	h3.header
		font-size: 38px
		text-align: center
		text-transform: uppercase
		margin-bottom: 35px
	a.partner
		display: inline-block
		margin: 10px 15px
		width: 105px
		height: 90px
		margin-top: 10px
		background: url('/assets/img/tmp/partners.png') no-repeat
		background-position: -23px -6px
		&.nissan
			background-position: -273px 0

.site_map.four div[class|=col]
	width: 210px !important

.recommended
	text-align: center
	margin-top: 95px
	margin-bottom: 56px
	.brace
		display: inline-block
		vertical-align: top
		margin-right: 37px
		padding-top: 45px
		p.header
			display: inline-block
			font-size: 22px
			text-transform: uppercase
			vertical-align: middle
			margin-right: 15px
		img
			display: inline-block
			vertical-align: middle
	.block
		display: inline-block
		vertical-align: top
		margin-right: 15px
		width: 228px
		height: 228px
		background: url('/assets/img/act.png') no-repeat
		background-position: -0px -0px
		&.second
			background-position: -228px
		&.third
			background-position: -456px

		.block_head
			display: block
			font-size: 20px
			margin-top: 50px
			margin-bottom: 20px
			padding: 0 34px 0
			color: #3d9ae0

#test-drive-box
	display: none
	padding: 10px
	width: 940px
	#drive-header
		font-size: 38px
	.drive-col
		display: inline-block
		text-align: left
		vertical-align: top
		img#lock
			display: inline-block
			margin-bottom: 20px
		p.comment
			text-align: left
			margin-bottom: 20px
			font-size: 16px
		#secured
			text-align: left
			margin-top: 10px
			img
				vertical-align: middle
				display: inline-block
			#lock-big
				display: inline-block
			#lock-text
				font-size: 12px
		.lock
			display: inline-block

.form
	input[type=text],
	textarea
		font-family: "Open Sans", sans-serif
		font-size: 14px
		background: #ffffff /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%) /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8)) /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%) /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%) /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%) /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%) /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ) /* IE6-9 */
		border: none
		border-radius: 12px
		padding: 10px
		margin: 10px
		outline: none
		width: 300px
	label
		display: inline-block
		width: 180px
		font-size: 16px

	.arrow
		text-align: right
		img
			vertical-align: top
			display: inline-block
		p.arrow
			text-align: left
			display: inline-block
			width: 255px
			color: #bababa
	.write
		margin-top: 38px
		img
			display: inline-block
			vertical-align: middle
			margin-right: 15px
		p
			display: inline-block
			vertical-align: middle
			width: 100px
			font-size: 13px
			margin-right: 32px
		a.green_button